<div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="row">
                    User Name : <input type="text" name="username" [(ngModel)]="username">
                    Password : <input type="password" name="password" [(ngModel)]="password">
                  </div>
                  <br>
                  <button class="padding: 14px 20px;" (click)=checkLogin() class="btn btn-success">
                    Login
                  </button>
                  <br>
                  <div>
                    <p id="err"> {{errMsg}}</p>
                  </div>
                 
                </div> 
                         
            </div>               
        </div>    
      </div>

